This notebook explores how the exchanged OTUs are affected by rarefying.

In [1]:
import pandas as pd

In [5]:
fpreva = '../../data/analysis/prevalence.partial_corrs.nthresh10-qthresh01-rthresh0.rarefied2000.txt'
newpreva = pd.read_csv(fpreva, sep='\t')
print(newpreva.query('meta_var == "all_patients"').groupby('site_comparison').size())

fpreva = '../../data/analysis/prevalence.partial_corrs.nthresh10-qthresh01-rthresh0.txt'
oldpreva = pd.read_csv(fpreva, sep='\t')

site_comparison
bal-gastric_fluid             76
bal-throat_swab               12
gastric_fluid-throat_swab    120
dtype: int64

In [6]:
preva.head()

,otu,prevalence_exchange,meta_var,meta_val,site_comparison,n_patients
0,k__Bacteria;p__;c__;o__;f__;g__;s__;d__denovo364,0.27,all_patients,all_patients,bal-gastric_fluid,100
1,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0.26,all_patients,all_patients,bal-gastric_fluid,100
2,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0.16,all_patients,all_patients,bal-gastric_fluid,100
3,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0.43,all_patients,all_patients,bal-gastric_fluid,100
4,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0.20,all_patients,all_patients,bal-gastric_fluid,100

In [9]:
newpreva[['site_comparison', 'n_patients']].drop_duplicates().groupby('site_comparison').max()

                           n_patients
site_comparison
bal-gastric_fluid                 100
bal-throat_swab                    79
gastric_fluid-throat_swab         122

In [10]:
oldpreva[['site_comparison', 'n_patients']].drop_duplicates().groupby('site_comparison').max()

                           n_patients
site_comparison
bal-gastric_fluid                 122
bal-throat_swab                    94
gastric_fluid-throat_swab         131